@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --main: #f8f8ff;
  --accent1: #1f2833;
  --accent2: #c5c6c7;
  --accent3: #66fcf1;
  --accent4: #3c887e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.section {
  display: flex;
}

/* Style the navigation bar */
.navbar {
  background-color: var(--accent1);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 100px;
  height: 9vh;
}

.navbar h2 {
  color: var(--accent3);
  font-size: 1.5em;
  margin-right: auto;
}

.navbar li {
  list-style: none;
  display: inline-block;
}

.navbar a:hover,
a.active {
  background-color: var(--accent3);
  color: var(--accent1) !important;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px 10px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

a.active {
  pointer-events: none;
}

.navbar a {
  color: var(--accent3);
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px 10px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url('./img/hero_desktop2.jpg');
  background-size: cover;
  height: 91vh;
}

.hero h1 {
  color: var(--accent2);
  padding: 140px 0px 0px 100px;
  font-weight: bold;
  font-size: 60px;
}

.hero h2 {
  color: var(--accent2);
  padding: 0px 0px 0px 100px;
  font-weight: 100;
  font-size: 50px;
}

.hero p {
  color: var(--accent2);
  padding: 20px 0px 0px 100px;
  font-size: 15pt;
}

.hero ul {
  padding-left: 90px;
  margin-top: 20px;
}

.hero li {
  list-style: none;
  display: inline-block;
}

.hero i {
  font-size: 3em;
  color: var(--accent2);
  transition: all 0.5s ease-out;
}

.hero i:hover {
  color: var(--accent3);
}

.hero span {
  color: var(--accent3);
}

.about {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  height: 91vh;
}

.about h1 {
  color: var(--accent1);
  padding: 30px 100px;
  font-weight: 600;
  font-size: 50px;
}

.aboutSub {
  display: flex;
  align-items: flex-start;
}

.aboutSub img {
  width: 19%;
  object-fit: contain;
  margin-left: 100px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head {
  background-color: var(--accent1);
  margin-right: 100px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutContent {
  margin-left: 5%;
}

.aboutContent h1 {
  color: var(--accent3);
  padding: 5px 0px 0px 0px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 30pt;
  text-align: left;
}

.aboutContent h2 {
  color: var(--accent2);
  margin-left: 10px;
  padding: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
}

.aboutContent span {
  position: static;
}

.aboutContent p {
  margin-right: 100px;
  font-size: 12pt;
  font-weight: 700;
}

.aboutLike {
  background-color: var(--accent1);
  margin: 0px 100px;
  border-radius: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutLike h2 {
  color: var(--accent2);
  margin: 10px 10px 0px 10px;
}

.jumba {
  display: flex;
  justify-content: flex-start;
}

div.polaroid {
  background-color: var(--accent2);
  margin: 10px 10px;
  border-radius: 10px;
  overflow: hidden;
}

img.like {
  object-fit: cover;
}

div.label {
  text-align: center;
  padding: 1px 0px;
}

.experience {
  background-color: var(--accent4);
  height: 91vh;
}

.experience h1 {
  color: var(--accent1);
  padding: 30px 100px;
  font-weight: 600;
  font-size: 50px;
  text-align: left;
}

div.exp {
  display: flex;
  margin: 0px 100px
}

div.vl {
  border-left: 10px solid var(--accent1);
  margin-left: 10px;
}

.exp h2 {
  color: var(--accent1);
  flex-shrink: 0;
}

.arrow {
  flex-shrink: 0;
  border: solid var(--accent1);
  border-width: 0 5px 5px 0;
  display: inline-block;
  margin-top: 6px;
  height: 20px;
  width: 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

div.job {
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
  background-color: var(--accent1);
  margin: 0 0 10px 10px;
  padding: 0 0 10px 10px;
}

.job h1 {
  color: var(--main);
  padding: 0;
  font-size: 20pt;
}
.job h2 {
  color: var(--accent2);
  margin: 0;
  padding: 0;
  font-size: 15pt;
}

.job ul {
  color: var(--accent2);
  margin: 10px 0 0 17px;
}

.education {
  height: 91vh;
}

.projects {
  height: 91vh;
}

.contacts {
  height: 91vh;
}